# API
fastapi==0.111.0
uvicorn[standard]==0.29.0
pydantic==2.7.0
python-dotenv==1.0.1
httpx==0.27.0

# Database
sqlalchemy==2.0.29
alembic==1.13.1
psycopg2-binary==2.9.9

# ML
# ML (FIXED FOR MAC + PYTHON 3.13)
numpy==1.26.4
scikit-learn==1.4.2
xgboost==2.0.3
joblib==1.4.0
pandas==2.2.2

# Dashboard
streamlit==1.35.0
plotly==5.22.0

# AWS
boto3==1.34.0

# Testing
pytest==8.2.0
pytest-asyncio==0.23.6
httpx==0.27.0

# Utilities
pyarrow==16.0.0